<div *ngIf="isReady">
  <div>
    <div>
      <button mat-raised-button color="primary" routerLink="/todo">todo list</button>
    </div>
  </div>
  <form [formGroup]="todoForm" (ngSubmit)="formSubmit()">
    <div class="fholder">
      <mat-form-field>
        <mat-label>Name</mat-label>
        <input formControlName="name" matInput>
        <mat-error *ngIf="ctrl.name.invalid">{{getErrMes("name")}}</mat-error>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Email</mat-label>
        <input formControlName="email" matInput type="email">
        <mat-error *ngIf="ctrl.email.invalid">{{getErrMes("email")}}</mat-error>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Description</mat-label>
        <textarea formControlName="description" matInput></textarea>
        <mat-error *ngIf="ctrl.description.invalid">{{getErrMes("description")}}</mat-error>
      </mat-form-field>

     <div class="radio">
      <mat-radio-group formControlName="important_task">
        <mat-label>Important task</mat-label>
        <br>
        <mat-radio-button [value]=true>Yes</mat-radio-button>
        <mat-radio-button [value]=false >No</mat-radio-button>
      </mat-radio-group>

      <mat-radio-group formControlName="executed">
        <mat-label>Executed task</mat-label>
        <br>
        <mat-radio-button  [value]=true>Yes</mat-radio-button>
        <mat-radio-button [value]=false>No</mat-radio-button>
      </mat-radio-group>
     </div>

      <mat-form-field appearance="fill">
        <mat-label>date executed</mat-label>
        <input formControlName="date_executed" matInput [matDatepicker]="picker">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>

      <button type="submit" mat-flat-button color="primary" [disabled]="!todoForm.valid">
        Сохранить</button>
    </div>
  </form>
</div>